{% extends "layout/base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Consulta de recetas</h1>
            <p class="lead text-center">Consulta de recetas por ingredientes o por palabra clave</p>
            <hr class="my-4">
            <p class="text-center">Seleccione una de las siguientes opciones</p>
            <p class="lead center col-lg-8 offset-lg-3">
                <a class="btn btn-primary btn-lg" href="/keyword" role="button">Recetas por palabra clave</a>
                <a class="btn btn-primary btn-lg" href="/ingredient" role="button">Recetas por ingredientes</a>
            </p>
        </div>
    </div>
{% endblock %}