{% extends "layout/base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Receta por palabra clave</h1>
            <p class="lead text-center">Introduzca el nombre de la receta que desea buscar</p>
            <hr class="my-4">
            <p class="text-center">Nombre receta</p>
            <div class="lead center col-lg-8 offset-lg-2">
                <form action="/recipes/keyword" method="post">
                    <div class="form-group">
                        <label for="ingredientes">Receta</label>
                        <input type="text" class="form-control" name="recipe" required=true placeholder="Introducir ingredientes">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block">Consultar recetas</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}